h1 {
    text-align: center;
}
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 285px;
    margin: 20px; 
}
.box-palevioletred {
    background-color:palevioletred ;
   
}
.box-LightSalmon {
    background-color:LightSalmon ;

}
.box-Coral {
    background-color :Coral ;
   
}
.box-235-86-136 {
    background-color:rgb(235, 86, 136) ;
    
}
.box-250-61-124 {
    background-color:rgb(250, 61, 124) ;
   
}
.box-252-9-90 {
    background-color:rgb(252, 9, 90) ;
  
}
.box-EE82EE {
    background-color:#EE82EE ; 
}
.box-DA70D6 {
    background-color:#DA70D6 ; 
}
.box-FF00FF {
    background-color: #FF00FF ; 
}