* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
nav{
    background-color:  rgb(142, 176, 250);
    height: 70PX;
   }

 ul{
    list-style: none;
    width: 100%;
    background-color: rgb(142, 176, 250);
    text-align: right;
   }
  
    /*MENU PRIMER NIVEL*/
 nav > ul > li{
    width: 250px;
    font-size: 1.4rem;
    line-height: 70px;
    display:inline-block ;

  }
  
 li{
   text-align:center;
  }
  
  li:hover{
    cursor: pointer;
    background-color:rgb(36, 89, 126);
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  /*menu de segundo nivel*/
nav ul ul li{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }
  
  nav li:hover > ul > li{
  overflow: visible;
  max-height: 500px;
  border: 1px solid rgba(255, 7, 7, 0.2);
  transition: max-height 1s;
  }
  