.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma,sans-serif;
    font-weight: 900;
}

.box-direction {
    display: flex;
    flex-direction: row;
}
.box-palevioletred {
    background-color:palevioletred ;
    position: static;
   
}
.box-LightSalmon {
    background-color:rgb(106, 111, 19) ;
    position: fixed;
    bottom: 150px;

}
.box-Coral {
    background-color :rgb(240, 64, 0) ;
    position: absolute;
    left: 150px;
}
.box-LightSalmon1 {
    background-color:rgb(133, 68, 42) ;
    position: relative;
    top: 900px;

}